@{
    ViewData["Title"] = "LogOut";
}

@if (string.IsNullOrEmpty(Context.Session.GetString("User")))
{
    <h1>You have been successfully logout and the session has been cleared!</h1>
}

else
{
    <h1>Session Exist!</h1>
} 